<h1>This is contact.handlebars</h1>
<a href="/">Go to index</a>
{{msg}}
<form action="send" method="POST">
    <label>Message</label>
    <input type="text" name="message">
    <button type="submit">Send Message</button>
</form>